*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
MyApplication/.idea/libraries/
MyApplication/.idea/workspace.xml
MyApplication/build/
MyApplication/local.properties
